.AppBar {
  background-color: #222222 !important;
  position: absolute !important;
}

.AppBarTab {
  min-width: unset !important;
  display: flex !important;
  min-height: unset !important;
}

.AppBarTabWrapper {
  text-transform: none !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: stretch;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-family: Consolas;
}

.AppContainer {
  background-color: #222222 !important;
  height: 100vh;
}

.AppFront > div {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background: #505050;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  pointer-events: auto;
}

.AppFront {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.AppFront1 {
  filter: drop-shadow(10px 0 100px #141414);
  transition: filter 500ms;
  pointer-events: auto;
}

.AppFront1 > div {
  clip-path: polygon(0 0, 50% 0, 80% 100%, 0% 100%);
  transition: clip-path 500ms;
}

.AppFront2,
.AppFront3 {
  filter: drop-shadow(10px 0 10px #141414);
  transition: filter 500ms;
  pointer-events: none;
}

.AppFront2 > div {
  clip-path: polygon(0 0, 70% 0, 70% 100%, 0% 100%);
  transition: clip-path 500ms;
}

.AppFront3 > div {
  clip-path: polygon(0 0, 20% 0, 20% 100%, 0% 100%);
  transition: clip-path 500ms;
}

.AppFrontMobile {
  filter: none;
  transition: filter 500ms;
  pointer-events: auto;
}

.AppFrontMobile > div {
  clip-path: none;
  transition: clip-path 500ms;
}

.AppBackground {
  position: absolute;
  background: #222222;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50vw;
  z-index: 1;
  overflow: hidden;
  padding-left: 40px;
  padding-top: 48px;
}

.hljs {
  overflow: hidden !important;
}

.CodeIndicator {
  background-color: darkgray !important;
}

.Scroller {
  overflow-x: hidden;
  overflow-y: hidden;
}

.Scroller > div {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.AppBarTabsIndicator {
  background-color: white !important;
}

.AppBarTabSelected {
  color: #cda869 !important;
}

.EpicDivIdkIRanOutOfNames {
  position: relative;
  background-color: #111111;
  flex-grow: 1;
}

.EpicDivIdkIRanOutOfNames > div {
  position: absolute;
  left: 2%;
  width: 100%;
}
