.FrontPage {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-left: 5%;
  height: 110vh;
}

.FrontPageMobile {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  height: 100vh;
}

.FloatingBox1 {
  position: relative;
}

.FloatingBoxMobile {
  padding-top: 5%;
}

.FloatingBox1 > *,
.FloatingBoxMobile > * {
  margin: 0;
}
/*hola,*/
.FloatingBox1 > h1 {
  font-family: Consolas;
  font-size: 5rem;
  color: #cda869;
}

.FloatingBoxMobile > h1 {
  font-family: monospace;
  font-size: 5rem;
  color: #cda869;
}

/*my name is*/
.FloatingBox1 > h2,
.FloatingBoxMobile > h2 {
  color: #333333;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 2rem;
}

/*firstName*/
.FloatingBox1 > h3,
.FloatingBoxMobile > h3 {
  color: #111111;
  font-size: 8rem;
  font-family: sans-serif;
  line-height: 6rem;
}

/*lastName*/
.FloatingBox1 > h4 {
  font-family: Consolas;
  color: #111111;
  font-size: 8rem;
  line-height: 7rem;
}

.FloatingBoxMobile > h4 {
  font-family: monospace;
  color: #111111;
  font-size: 6rem;
  line-height: 5rem;
}

.FloatingBox2 {
  display: flex;
  margin: 24px;
}

.FloatingBox2 > h1 {
  font-family: Consolas;
  font-weight: 100;
  font-size: 3rem;
  color: #222222;
  margin: 32px;
}

.EpicBox {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: #222222 !important;
}

.EpicBox > p {
  font-family: sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0;
  margin-left: 8px;
  color: #397300;
}

.EpicBox > h1 {
  margin: 8px;
  padding: 4px;
  border-radius: 4px;
  background-color: #505050;
  color: #cda869;
  font-family: Consolas;
  font-size: 3.5rem;
  font-weight: 200;
}

.EpicBox > h1::before {
  content: ">";
}

.EpicBoxClickable > h1:hover {
  cursor: pointer;
  color: #007acc;
}
/*
.EpicBox > p {
}*/

.Signature {
  position: absolute;
  z-index: 200;
  width: 20vw;
  height: auto;
  right: 50%;
  top: -15%;
  fill: #cda869;
}

.SignatureMobile {
  width: 80%;
  height: auto;
  fill: #cda869;
}
